<%- include("partials/header.ejs") %>


<link href="styles/styles.css" rel="stylesheet">

<div class="container">
    <div id="heading">
        <h2>To Do List</h2>
    </div>  
    <div class="form-container">
       <form>
        <input name="newtask" type="text" placeholder="New Item"/>
        <input id="button" name="newtask" type="submit" value="+"/>
       </form>

      
    </div>
</div>

