



.container{
    display: grid;
    justify-items: center;
}

#heading{
    margin: 20px;
    padding: 20px 100px;
    justify-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color:rgb(242, 133, 242);
    border-radius: 10px;
    border-color: white;
    width: auto;
    border-style: solid;
}

#button{
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    color: aliceblue;
    justify-items: center;
    align-items: center;
    background-color: rgb(171, 85, 214);
}



